<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">$<span id="daily_rate"><%= rate %></span> per day</h5>
        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@item, @booking] do |t| %>
          <%= t.input :start_date %>
          <%= t.input :end_date %>
          <div class="booking-submit w-100 text-center">
            <%= t.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <h5>Total: $<span id="total_amount"></span></h5>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
