<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="/categories">
    Rentaholic
  </a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Add Item", new_item_path, class: "nav-link mr-2 mr-3 font-weight-normal" %>
      </li>
      <li class="nav-item">
        <%= link_to "Wishlist", wishlists_path, class: "nav-link mr-2 mr-3 font-weight-normal" %>
      </li>
      <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
      </li>
    </ul>
    <!-- Welcome -->
    <!--   <div class="mr-auto align-items-center" id="navbarSupportedContent">
>>>>>>> a720b70bc37b66337bd323c3fc2195e788080bb0
    <% if user_signed_in? %>
      <span class="navbar-text text-light">
        Hello <%= current_user.first_name %> 🙂
      </span>
    <% end %>
  </div> -->

  <!-- Search -->
  <%= form_tag(items_path, method: :get) do %>
    <form class="form-inline" >
      <div class="md-form my-0">
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search"%>
      </div>
    </form>
  <% end %>
  <!-- Avatar / Log out -->
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item dropdown ml-2">
        <% if !current_user.photo.blank? %>
          <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://scholars.seo-usa.org/wp-content/uploads/sites/3/2019/03/asl-interpreter-profiles-1-300x300.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>

        <!-- Dropdown -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
      </li>
    <% end %>
    <!-- Avatar / Log out -->
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown ml-2">
          <% if !current_user.photo.blank? %>
            <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://scholars.seo-usa.org/wp-content/uploads/sites/3/2019/03/asl-interpreter-profiles-1-300x300.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <!-- Dropdown -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
