<div class="container booking-calendar general-card px-0 mx-0 mb-0" id="booking-calendar">
  <div class="row align-items-center flex-column">
    <div class="row justify-content-center align-items-center">
      <div class="calendar-button">
        <%= link_to '<', item_path(@item, month: (@bookings_month[0][:date]-1.month).strftime('%Y-%m')), class: 'btn btn-light text-primary mr-3' %>
      </div>
      <div class="main-title"><%= @bookings_month[0][:date].strftime('%B')%></div>
      <div class="calendar-button">
        <%= link_to '>', item_path(@item, month: (@bookings_month[0][:date]+1.month).strftime('%Y-%m')), class: 'btn btn-light text-primary ml-2' %>
      </div>
    </div>
    <div class="grid-month-header-row mb-3">
      <div class="day_label">S</div>
      <div class="day_label">M</div>
      <div class="day_label">T</div>
      <div class="day_label">W</div>
      <div class="day_label">T</div>
      <div class="day_label">F</div>
      <div class="day_label">S</div>
    </div>
    <div class="grid-month" data-offset="<%= @bookings_month[0][:date].wday %>">
      <% @bookings_month.each do |key, value| %>
        <div class="month-day <%= value[:available] ? 'item-available' : 'item-booked'%> d-flex justify-content-center align-items-center">
          <div><%= key.to_i + 1 %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
