<div class="container">
  <div class="d-flex flex-wrap justify-content-center">

    <% @items.each do |item| %>
      <%= link_to item do %>

      <div class="card item-card" style="width: 20rem;">

        <div style="position:relative" >
          <%= cl_image_tag item.photo, class: "card-img-top" %>
          <div class="category-tag mt-3" style="position: absolute; bottom: 5px; left: 5px;">
            <h6 class="m-0 p-1"><%= item.category %></h6>
          </div>
        </div>

        <div class="d-flex justify-content-between p-2">
          <div>
            <h6 class="text-left text-muted"> <i class="fas fa-map-marker-alt"></i> <%= item.user.city %></h6>
            <h5 class="text-left"><%= item.name %></h5>

            <!-- Code this to be responsive -->
            <h6 class="text-left">Available now</h6>

            <p class="text-left m-auto">$<%= item.daily_rate %> per day</p>
          </div>
          <div class="star">
            <%= render 'star_index', item: item %>
          </div>
        </div>
      </div>

      <% end %>
    <% end %>
  </div>
</div>
