<div class="general-card item-main-card d-flex mx-0 flex-fill mb-0">
  <div >
    <!-- Image -->
    <%= cl_image_tag(@item.photo, class: "mr-3") %>
    <!-- Price -->
    <h5>$<%= @item.daily_rate %> per day</h5>
    <!-- Rent this item -->
    <% if @item.user == current_user %>
      This item is mine
    <% else %>
      <button id="modal_button" type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#booking-modal" data-whatever="@fat">Rent <%= @item.user.first_name %>'s <%= @item.name %></button>
      <%= render 'bookings/modal_form', rate: @item.daily_rate %>
    <% end %>
  </div>
  <!-- Text -->
  <div class="mx-3 mt-3">
    <!-- Wishlist -->
    <% if user_signed_in? %>
      <div class="item_star" id="<%= @item.id %>">
        <%= render 'star' %>
      </div>
    <% end %>
    <!-- Title -->
    <div class="d-flex justify-content-center m-3">
      <h3><%= @item.name %></h3>
    </div>
    <p class="text-justify"><%= @item.description %></p>
    <!-- Further information -->
    <div class="border rounded pt-3">
      <p>Posted: <%= @item.created_at.strftime("%d-%m-%Y") %></p>
    </div>
    <div class="category-tag my-5 d-flex justify-content-center align-items-center shadow-none <%= @item.category.parameterize %>-background">
      <div class="item-details-category-label mr-3">
        <%= @item.category %>
      </div>
      <p class="icon <%= @item.category.downcase %>-icon mb-0"></p>
    </div>
  </div>
</div>
