<div class="col-8 my-3">
  <div class="card shadow-sm p-0">
    <%#= image_tag(@item.photo, class: "card-img-top show-card-img-top") %>
    <%= cl_image_tag @item.photo, class: 'card-img-top show-card-img-top' %>
    <div class="card-body text-left">
      <h5 class="card-title border-top pt-3"><%= @item.name %></h5>
      <div class="card-text d-flex container text-left p-0">
        <div class="col-8 pl-0">
          <p class="text-justify p-0"><%= @item.description %></p>
        </div>
        <div class="border rounded p-3 col-4">
          <p>Posted date: <%= @item.created_at.strftime("%d-%m-%Y") %></p>
          <p>Category: <%= @item.category %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container booking-calendar" id="booking-calendar">
    <div class="row align-items-center justify-content-center">
      <%= link_to 'Previous 7 Days', item_path(@item, weekstart: (@bookings_week[0][:date]-7.days).strftime('%Y-%m-%d'))+'#booking-calendar', class: 'btn btn-primary' %>
      <%# byebug %>
      <div class="main-title">Bookings</div>
      <%= link_to 'Next 7 Days', item_path(@item, weekstart: (@bookings_week[0][:date]+7.days).strftime('%Y-%m-%d'))+'#booking-calendar', class: 'btn btn-primary' %>
    </div>
    <div class="row">
      <div class="card-group">
        <% @bookings_week.each do |key, value| %>
          <div class="card <%= value[:available] ? 'item-available' : 'item-booked' %>">
            <div class="card-title">
              <div class="day-string"><%=value[:date].strftime("%A")%></div>
              <div class="date-string"><%=value[:date].strftime("%d %b %Y") %></div>
            </div>
            <div class="card-body ">
              <%= value[:available] ? 'Available' : 'Booked' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
