<div class="general-card item-owner-card px-4 mx-1 mt-4">
  <h5 class="border-bottom">Item Owner</h5>
  <!-- Owner -->
  <%= cl_image_tag(avatar_url(@item.user)) %>
  <h3><%= @item.user.first_name %> <%= @item.user.last_name %></h3>
  <h6> <i class="fas fa-map-marker-alt"></i> <%= @item.user.city %></h6>
  <p class="card-text"><%=@item.user.description%></p>
</div>
