<div class="container">
  <h1><%= @search.capitalize %></h1>
  <div class="row">
    <% @items.each do |item| %>
      <%= link_to item do %>
        <div class="card mx-3" style="width: 200px">
          <div class="card-title">
            <%= item.name %>
          </div>
          <div class="card-body">
            <%= cl_image_tag(item.photo, size: "160x160", alt: "#{item.name}") %>
            <div class="div mt-3">
              Daily Rate <strong>$<%= item.daily_rate %></strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
