<%= render 'category_cards' %>


<% if @search %>
  <%= link_to "", :back, class: "btn sticky-top m-3 fas fa-chevron-circle-left btn-back" %>
  <%= render 'search_results' %>
<% elsif @category %>
  <%= link_to "", items_path, class: "btn sticky-top m-3 fas fa-chevron-circle-left btn-back" %>
  <%= render 'category_page' %>
<% else %>
  <h4 class="m-6 text-center">Most popular items based on rating</h4>
<% end %>
