
<%= render 'category_circles' %>


<% if @search %>
  <%= link_to "", :back, class: "btn sticky-top m-3 fas fa-chevron-circle-left btn-back" %>
  <%= render 'search_results' %>
<% elsif @category %>
  <%= link_to "", items_path, class: "btn sticky-top m-3 fas fa-chevron-circle-left btn-back" %>
  <%= render 'category_page' %>
<% else %>
  <div class="intro-text" style="height: 100vh;">
    <div class="m-3">
      <h4>Choose a category to get started</h4>
    </div>
    <div>
      <h2>Become a Rentaholic</h2>
    </div>
  </div>
<% end %>
