<div class="container">
  <%= link_to "", :back, class: "btn sticky-top m-3 fas fa-chevron-circle-left btn-back" %>
  <div class="d-flex justify-content-space-between mt-3">
    <div class="mt-2 col-8 d-flex">
      <%= render 'item_details' %>
    </div>
    <div class="col-4 ml-0 pl-0";>
      <%= render 'item_owner' %>
      <div><%= render 'booking_calendar' %></div>
    </div>
  </div>
  <%= render 'item_map' %>

  <div class="row px-0 mx-0"><%= render 'item_booking_reviews' %></div>
</div>
