<div class="container">
  <%= link_to "", :back, class: "btn sticky-top m-3 fas fa-chevron-circle-left btn-back" %>
  <div class="d-flex justify-content-space-between m-4">
    <div >
      <div class="m-2"><%= render 'item_details' %></div>
    </div>
    <div>
      <div><%= render 'item_owner' %></div>
      <div><%= render 'item_map' %></div>
    </div>
  </div>
  <div><%= render 'booking_calendar' %></div>
  <div><%= render 'item_booking_reviews' %></div>
</div>
