<div class="container">
  <div class="row justify-content-between">
    <div class="card shadow-sm col-8 p-0">
      <%= image_tag(@item.photo, class: "card-img-top") %>
      <div class="card-body text-left">
        <h5 class="card-title"><%= @item.name %></h5>
        <p class="card-text"><%= @item.description %></p>
      </div>
    </div>
    <div class="card col-3 text-left p-0">
      <div class="card-body">
        <h5 class="card-title"><%= @item.user_id %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%=link_to "Rent #{@item.name}", new_item_booking_path(@item.id), class: 'card-link' %>
      </div>
    </div>
  </div>
</div>
