<div class="container">
  <div class="row justify-content-between">
    <%= render 'item_image_booking' %>
    <div class="card col-3 text-left p-0 my-3">
      <%= render 'item_owner_card_body' %>
    </div>
  </div>
<!--   <div
    id="map"
    class="text-left"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div> -->
  <div class="row">
    <%= render 'item_map' %>
  </div>
</div>
