<div class="row">
  <div class="col-sm">
    <!-- My Items -->
    <div class="heading">
      <h2>Future Bookings</h2>
    </div>
    <div class="list-channel d-flex flex-wrap justify-content-around">
      <% @bookings = @bookings.sort_by {|booking| booking.start_date - Date.today } %>
      <% @bookings.each do |booking| %>
        <%= link_to item_path(booking.item), class: "product-card-anchor" do %>
          <div class="card-product m-3 card-hover">
            <img src="<%= booking.item.photo %>">
            <div class="card-product-infos">
              <div class="d-flex justify-content-between">
                <h2><%= booking.item.name %></h2>
                <% day_count = (booking.start_date - Date.today).to_i %>
                <p class="booking_start">starts in <%= pluralize(day_count, 'day')%></p>
              </div>
              <p><%= booking.item.description[0..100].ljust(105,".") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
