<%= link_to dashboard_path(booking_type: "future"), class: "no-underline" do %>
  <h5>Future Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "current"), class: "no-underline" do %>
  <h5>Current Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "past"), class: "no-underline" do %>
  <h5>Past Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "wishlist"), class: "no-underline" do %>
  <h5>Wishlist</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "my_items"), class: "no-underline" do %>
  <h5>My Items</h5>
<% end %>
