<%= link_to dashboard_path(booking_type: "future"), class: "no-underline" do %>
  <h5 class="<%= 'active' if params[:booking_type].nil? || params[:booking_type] == 'future' %>">Future Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "current"), class: "no-underline" do %>
  <h5 class="<%= 'active' if params[:booking_type] == 'current' %>">Current Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "past"), class: "no-underline" do %>
  <h5 class="<%= 'active' if params[:booking_type] == 'past' %>">Past Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "wishlist"), class: "no-underline" do %>
  <h5 class="<%= 'active' if params[:booking_type] == 'wishlist' %>">Wishlist</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "my_items"), class: "no-underline" do %>
  <h5 class="<%= 'active' if params[:booking_type] == 'my_items' %>">My Items</h5>
<% end %>




