<%= link_to dashboard_path(booking_type: "future")  do %>
  <h5>Future Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "current") do %>
  <h5>Current Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "past") do %>
  <h5>Past Bookings</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "wishlist") do %>
  <h5>Wishlist</h5>
<% end %>
<%= link_to dashboard_path(booking_type: "my_items") do %>
  <h5>My Items</h5>
<% end %>
