<div class="row">
  <div class="col-sm">
    <!-- My Items -->
    <div class="heading">
      <h2>Past Bookings</h2>
    </div>
    <div class="list-channel d-flex flex-wrap">
      <% @bookings = @bookings.sort_by { |booking| Date.today - booking.end_date } %>
      <% @bookings.each_with_index do |booking, index| %>
        <div class="card-product m-3">
          <div class="past-booking-image">
            <img src="<%= booking.item.photo %>">
            <% if !booking.review.nil? %>
              <div class="past-booking-image-stars">
                <% full_stars = booking.review.stars %>
                <% empty_stars = Review::STARS.length - 1 - full_stars %>
                <% full_stars.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% empty_stars.times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="card-product-infos">
            <h2><%= booking.item.name %></h2>
            <% day_count = (Date.today - booking.end_date).to_i %>
            <p class="booking_ended">ended <%= pluralize(day_count, 'day')%> ago</p>
            <p><%= booking.item.description[0..100].ljust(105,".") %></p>
            <div class="past-booking-review">
              <% if booking.review.nil? %>
                <button id="review-modal-button" type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#review-modal-<%= index %>">Leave Review</button>
                <%= render 'reviews/modal_form', booking_index: index %>
              <% else %>
                <button id="review-modal-button-read" type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#review-modal-read-<%= index %>">Read Review</button>
                <%= render 'reviews/modal_review', booking_index: index %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
