  <!-- Menu -->
<div class="container-fluid">
  <div class="row"> <!-- outer row that has the menu and the dash -->
    <div class="col-sm-12 col-md-2">
      <!-- content inside bootstrap grid -->
      <div class="dash-container d-flex">
        <div class="my-menu">
          <%= render 'my_list', bookings: @bookings %>
        </div>
      </div>
      <!-- end -->
    </div>
    <div class="col-sm-12 col-md-10">
      <div class="container-fluid">
        <% if @dash_view == 'current' %>
          <%= render 'current_bookings' %>
        <% elsif @dash_view == 'past' %>
          <%= render 'past_bookings' %>
        <% elsif @dash_view == 'wishlist' %>
          <%= render 'wishlist' %>
        <% elsif @dash_view == 'my_items' %>
          <%= render 'my_items' %>
        <% else %>
          <%= render 'future_bookings', bookings: @bookings %>
        <% end %>
      </div>
    </div>
  </div>
</div>
