  <!-- Menu -->
<div class="container-fluid m-5" style="max-width: 90vw">
  <div class="d-flex">

    <!-- Menu -->
    <div class="my-menu general-card">
      <%= render 'my_list', bookings: @bookings %>
    </div>


      <div class="container-fluid general-card p-3">

        <% if @dash_view == 'current' %>
          <%= render 'current_bookings' %>
        <% elsif @dash_view == 'past' %>
          <%= render 'past_bookings' %>
        <% elsif @dash_view == 'wishlist' %>
          <%= render 'wishlist' %>
        <% elsif @dash_view == 'my_items' %>
          <%= render 'my_items' %>
        <% else %>
          <%= render 'future_bookings', bookings: @bookings %>
        <% end %>

    </div>

  </div>
</div>
