<% booking = @bookings[booking_index] %>
<% item = booking.item %>
<% owner = item.user %>
<div class="modal fade" id="review-modal-<%=booking_index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= owner.first_name %>'s <strong><%= item.name %></strong> Review
        </h5>
        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
      <div class="modal-body">
        <h6>
          <strong>Rental Period:</strong> <%= booking.start_date.strftime("%a %d %b %Y") %> - <%= booking.end_date.strftime("%a %d %b %Y") %>
        </h6>
        <%= render 'reviews/review_form', booking_index: booking_index %>
      </div>
      <div class="modal-footer d-flex justify-content-between">
      </div>
    </div>
  </div>
</div>